/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {

	--content-width: calc(720 / 16 * 1rem);
	--sidebar-width: calc(300 / 16 * 1rem);
	--dropdown-symbol-width: 0.7em;
	--container-width: calc(1140 / 16 * 1rem);

	/* Typography */
	--global-font-family: "Crimson Text", serif;
	--highlight-font-family: "Roboto Condensed", "Helvetica Neue", "Arial Narrow", sans-serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;


	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/*Spacing*/
	--typo-margin-vertical: 1rem;
	--field-padding-vertical: .5rem;
	--field-padding-horizontal: 1rem;

	/* Colors */
	--global-font-color: #333333;
	--border-color-dark: #333333;
	--border-color-light: #cccccc;
	--color-link: #0073aa;
	--color-link-visited: #333333;
	--color-link-active: #00a0d2;
	--color-quote-border: #000000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #e36d60;
	--color-theme-secondary: #41848f;
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #ecf0f1;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;


	/*Misc*/
	--border-radius: 3px;
	--opacity: 0.7;
	--transition-time: 0.3s;
	--shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);

	--menu-desktop-width: --screen-md;

	--toggler-part-height: 3px;
	--toggler-part-bg-color: #000;

	--z-index-modal: 100;
}
