@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color : var(--color-link);

	&:hover,
	&:focus,
	&:active {
		color : var(--color-link-active);
	}

	&:visited {
		color : var(--color-link-visited);
	}

	&:focus {
		outline : thin dotted;
	}

	&:hover,
	&:active {
		outline : 0;
	}
}

/* stylelint-enable */



