*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-mobile, $font-size);
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important;
}

[role='button'] {
  cursor: pointer;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0;
}

button,
input {
  overflow: visible;
  text-transform: none;
}


button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

}

hr {
  box-sizing: content-box; // Firefox
  height: 0; // Firefox
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h1-mobile, $font-size-h1);
}

h2 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h2-mobile, $font-size-h2 );
}

h3 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h3-mobile, $font-size-h3 );
}

h4 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h4-mobile, $font-size-h4);
}

h5 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h5-mobile, $font-size-h5 );
}

h6 {
  font-size: clamp-slope($font-scale-start, $font-scale-end, $font-size-h6-mobile, $font-size-h6);
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: $typo-margin-vertical;
  margin-bottom: 0;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-top: $typo-margin-vertical;
  margin-bottom: 0;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @include media-breakpoint-up(sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: ($line-height / 2);
  }
}

.small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

.mark,
mark {
  background: rgba($color-warning, 0.3);
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-900;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
