//animation for jQuery ripple effect

@keyframes ripple-animation {
  0% {
    -webkit-transform: scale(.01);
    transform: scale(.01);
  }

  100% {
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}


.ripple-effect-hover {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ripple-effect-hover__spot {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.36);
  transform: translate(-50%, -50%);
  transition: width 0.4s, height 0.4s;
  z-index: -1;
}

.ripple-effect-hover:hover .ripple-effect-hover__spot {
  background-color: rgba(255, 255, 255, 0.16);
  width: 800px;
  height: 800px;
}