@use "sass:math";
@use "../variables" as *;
@use "breakpoints" as *;

$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1440px !default;
$screen-xxxl: 1800px !default;

//$container-sm: 100% !default;
//$container-md: 100% !default;
//$container-lg: ($screen-lg - 30) !default;
//$container-xl: ($screen-xl - 30) !default;
//$container-xxl: ($screen-xxl - 70) !default;
//$container-xxxl: ($screen-xxxl - 70) !default;

//$grid-columns: 12 !default;
//$grid-gutter-width: 30px !default;


//------------------------------------------------------------------------------
//  Генератор правил для контейнера
//------------------------------------------------------------------------------

@mixin container(
	$xs-grid-gutter:  $grid-gutter-width,
	$sm-grid-gutter:  $grid-gutter-width,
	$md-grid-gutter:  $grid-gutter-width,
	$lg-grid-gutter:  $grid-gutter-width,
	$xl-grid-gutter:  $grid-gutter-width,
	$xxl-grid-gutter: $grid-gutter-width,
	$xxxl-grid-gutter: $grid-gutter-width
) {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@if ($xs-grid-gutter != 0) {
		padding-left: math.div($xs-grid-gutter, 2);
		padding-right: math.div($xs-grid-gutter, 2);
	}

	@include media-breakpoint-up(sm) {
		width: $container-sm;

		@if ($sm-grid-gutter != $xs-grid-gutter) {
			padding-left: math.div($sm-grid-gutter, 2);
			padding-right: math.div($sm-grid-gutter, 2);
		}
	}

	@include media-breakpoint-up(md) {
		width: $container-md;

		@if ($md-grid-gutter != $sm-grid-gutter) {
			padding-left: math.div($md-grid-gutter, 2);
			padding-right: math.div($md-grid-gutter, 2);
		}
	}

	@include media-breakpoint-up(lg) {
		width: $container-lg;

		@if ($lg-grid-gutter != $md-grid-gutter) {
			padding-left: math.div($lg-grid-gutter, 2);
			padding-right: math.div($lg-grid-gutter, 2);
		}
	}

	@include media-breakpoint-up(xl) {
		width: $container-xl;

		@if ($xl-grid-gutter != $lg-grid-gutter) {
			padding-left: math.div($xl-grid-gutter, 2);
			padding-right: math.div($xl-grid-gutter, 2);
		}
	}

	@include media-breakpoint-up(xxl) {
		width: $container-xxl;

		@if ($xxl-grid-gutter != $xl-grid-gutter) {
			padding-left: math.div($xxl-grid-gutter, 2);
			padding-right: math.div($xxl-grid-gutter, 2);
		}
	}

	@include media-breakpoint-up(xxxl) {
		width: $container-xxxl;

		@if ($xxxl-grid-gutter != $xxl-grid-gutter) {
			padding-left: math.div($xxxl-grid-gutter, 2);
			padding-right: math.div($xxxl-grid-gutter, 2);
		}
	}
}


//------------------------------------------------------------------------------
//  Генератор правил для прямого родителя модульной сетки
//------------------------------------------------------------------------------
//  Принимает:         По умолчанию:        Пояснение:
//  $xs-grid-gutter:   $grid-gutter-width   промежуток между ячейками XS-сетки
//  $sm-grid-gutter:   $grid-gutter-width   промежуток между ячейками SM-сетки
//  $md-grid-gutter:   $grid-gutter-width   промежуток между ячейками MD-сетки
//  $lg-grid-gutter:   $grid-gutter-width   промежуток между ячейками LG-сетки
//  $xl-grid-gutter:   $grid-gutter-width   промежуток между ячейками XL-сетки
//  $xxl-grid-gutter:  $grid-gutter-width   промежуток между ячейками XXL-сетки
//------------------------------------------------------------------------------
// Пример вызова:
// .some-class {
//   @include row (
//     $xs-grid-gutter:  $grid-gutter-width, // отступ по умолчанию
//     $sm-grid-gutter:  0,                  // нет отступа
//     $md-grid-gutter:  $grid-gutter-width  // отступ по умолчанию
//   );
// }
//
// Идентичный вызов:
// .some-class {
//   @include row ( $grid-gutter-width, 0, $grid-gutter-width );
// }
//------------------------------------------------------------------------------

@mixin row(
	$xs-grid-gutter:  $grid-gutter-width,
	$sm-grid-gutter:  $grid-gutter-width,
	$md-grid-gutter:  $grid-gutter-width,
	$lg-grid-gutter:  $grid-gutter-width,
	$xl-grid-gutter:  $grid-gutter-width,
	$xxl-grid-gutter: $grid-gutter-width
) {
	display: flex;
	flex-wrap: wrap;

	& > * {
		flex-basis: 100%;
	}

	@if ($xs-grid-gutter != 0) {
		margin-left: ($xs-grid-gutter, -2);
		margin-right: ($xs-grid-gutter, -2);
	}

	@if ($sm-grid-gutter != $xs-grid-gutter) {

		@include media-breakpoint-up(sm) {
			margin-left: math.div($sm-grid-gutter, -2);
			margin-right: math.div($sm-grid-gutter, -2);
		}
	}

	@if ($md-grid-gutter != $sm-grid-gutter) {

		@include media-breakpoint-up(md) {
			margin-left: math.div($md-grid-gutter, -2);
			margin-right: math.div($md-grid-gutter, -2);
		}
	}

	@if ($lg-grid-gutter != $md-grid-gutter) {

		@include media-breakpoint-up(lg) {
			margin-left: math.div($lg-grid-gutter, -2);
			margin-right: math.div($lg-grid-gutter, -2);
		}
	}

	@if ($xl-grid-gutter != $lg-grid-gutter) {

		@include media-breakpoint-up(xl) {
			margin-left: math.div($xl-grid-gutter, -2);
			margin-right: ($xl-grid-gutter, -2);
		}
	}

	@if ($xxl-grid-gutter != $xl-grid-gutter) {

		@include media-breakpoint-up(xxl) {
			margin-left: math.div($xxl-grid-gutter, -2);
			margin-right: math.div($xxl-grid-gutter, -2);
		}
	}
}


//------------------------------------------------------------------------------
//  Генератор ширины ячейки
//------------------------------------------------------------------------------
//  Принимает:    По умолчанию:         Пояснение:
//  $column:      1                     ширина (кол-во колонок в этой ячейке)
//  $columns:     $grid-columns;        количество ячеек в ряду
//
//  Возвращает width.
//------------------------------------------------------------------------------

@mixin get-width($column: 1, $columns: $grid-columns) {
	$width: math.div(100%, $columns) * $column;
	flex: 0 0 $width;
	max-width: $width;
}


//------------------------------------------------------------------------------
//  Генератор правил для одной ячейки
//------------------------------------------------------------------------------
//  Принимает:    По умолчанию:         Пояснение:
//  $column:      1                     ширина (кол-во колонок для этой ячейки)
//  $columns:     $grid-columns;        общее количество ячеек на 1 ряд
//  $gutter:      $grid-gutter-width    промежуток между ячейками
//------------------------------------------------------------------------------

@mixin make-col(
	$column:  1,
	$columns: $grid-columns,
	$gutter:  $grid-gutter-width
) {
	@include get-width($column, $columns);

	// ВНИМАНИЕ!
	// если $gutter == false, в CSS не попадут правила padding-left и padding-right
	@if ($gutter != false) {
		padding-left: math.div($gutter, 2);
		padding-right: math.div($gutter, 2);
	}
}


//------------------------------------------------------------------------------
//  Генератор правил для одной ячейки с возможностью указать @media
//------------------------------------------------------------------------------
//  Принимает:    По умолчанию:         Пояснение:
//  $screen:      xs                    тип сетки [xs|sm|md|lg|xl|xxl]
//  $column:      $grid-columns         ширина (кол-во колонок для этой ячейки)
//  $columns:     $grid-columns;        общее количество ячеек на 1 ряд
//  $gutter:      $grid-gutter-width    промежуток между ячейками
//------------------------------------------------------------------------------

@mixin col(
	$screen:  xs,
	$column:  $grid-columns,
	$columns: $grid-columns,
	$gutter:  $grid-gutter-width
) {

	@if ($screen == xs) {
		@include make-col($column, $columns, $gutter);
	}

	@if ($screen == sm) {

		@media (min-width: $screen-sm) {
			@include make-col($column, $columns, $gutter);
		}
	}

	@if ($screen == md) {

		@media (min-width: $screen-md) {
			@include make-col($column, $columns, $gutter);
		}
	}

	@if ($screen == lg) {

		@media (min-width: $screen-lg) {
			@include make-col($column, $columns, $gutter);
		}
	}

	@if ($screen == xl) {

		@media (min-width: $screen-xl) {
			@include make-col($column, $columns, $gutter);
		}
	}

	@if ($screen == xxl) {

		@media (min-width: $screen-xxl) {
			@include make-col($column, $columns, $gutter);
		}
	}

	@if ($screen == xxxl) {

		@media (min-width: $screen-xxl) {
			@include make-col($column, $columns, $gutter);
		}
	}
}


//------------------------------------------------------------------------------
//  Генератор правил для отступа одной ячейки с возможностью указать @media
//------------------------------------------------------------------------------
//  Принимает:    По умолчанию:         Пояснение:
//  $screen:      xs                    тип сетки [xs|sm|md|lg|xl|xxl]
//  $column:      1                     ширина отступа (кол-во колонок)
//  $columns:     $grid-columns;        общее количество ячеек на 1 ряд
//------------------------------------------------------------------------------

@mixin col-offset(
	$screen: xs,
	$column: 1,
	$columns: $grid-columns
) {

	@if ($screen == xs) {
		margin-left: math.div($column * 100%, $columns);
	}

	@if ($screen == sm) {

		@media (min-width: $screen-sm) {
			margin-left: math.div($column * 100%, $columns);
		}
	}

	@if ($screen == md) {

		@media (min-width: $screen-md) {
			margin-left: math.div($column * 100%, $columns);
		}
	}

	@if ($screen == lg) {

		@media (min-width: $screen-lg) {
			margin-left: math.div($column * 100%, $columns);
		}
	}

	@if ($screen == xl) {

		@media (min-width: $screen-xl) {
			margin-left: math.div($column * 100%, $columns);
		}
	}

	@if ($screen == xxl) {

		@media (min-width: $screen-xxl) {
			margin-left: math.div($column * 100%, $columns);
		}
	}
	@if ($screen == xxxl) {

		@media (min-width: $screen-xxl) {
			margin-left: math.div($column * 100%, $columns);
		}
	}
}

//https://stackoverflow.com/questions/52417889/setting-minimum-and-maximum-number-of-columns-using-css-grid/52418341/

/* Adjusted columns width */
@mixin grid-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
  --min-cols: #{$min-cols};
  --max-cols: #{$max-cols};
  --cols-min-width: #{$cols-min-width};
  --row-gap: #{$row-gap};
  --col-gap: #{$col-gap};

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols)))), 1fr));
  gap: var(--row-gap) var(--col-gap);
}

/* Fixed columns width */
@mixin grid-cols-fixed($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
  --min-cols: #{$min-cols};
  --max-cols: #{$max-cols};
  --cols-min-width: #{$cols-min-width};
  --row-gap: #{$row-gap};
  --col-gap: #{$col-gap};

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols))))));
  gap: var(--row-gap) var(--col-gap);
}


/* Grid systems
$min-cols: 3;
$max-cols: 7;
$cols-min-width: 7.5rem;
$row-gap: 1.5rem;
$col-gap: 1rem;
&--adjusted-width {
  @include grid-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap, $col-gap);
}
&--fixed-width {
  @include grid-cols-fixed($min-cols, $max-cols, $cols-min-width, $row-gap, $col-gap);
}
*/

/* Adjusted columns width */
@mixin flexbox-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
  --min-cols: #{$min-cols};
  --max-cols: #{$max-cols};
  --cols-min-width: #{$cols-min-width};
  --row-gap: #{$row-gap};
  --col-gap: #{$col-gap};

  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--col-gap);
  > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols))));
  }
}

/* Fixed columns width */
@mixin flexbox-cols-fixed($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
  --min-cols: #{$min-cols};
  --max-cols: #{$max-cols};
  --cols-min-width: #{$cols-min-width};
  --row-gap: #{$row-gap};
  --col-gap: #{$col-gap};

  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--col-gap);
  > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols))));
  }
}

/* Flexbox systems
$min-cols: 3;
$max-cols: 7;
$cols-min-width: 7.5rem;
$row-gap: 1.5rem;
$col-gap: 1rem;
&--adjusted-width {
  @include flexbox-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap, $col-gap);
}
&--fixed-width {
  @include flexbox-cols-fixed($min-cols, $max-cols, $cols-min-width, $row-gap, $col-gap);
}
 */
