@use "sass:math";

$browser-context-rem: 16;

@function to-rem($pixels, $context: null) {
  @if $context == null {
    $context: $browser-context-rem;
  }
  @return math.div($pixels, $context) * 1rem;
}
