@use "../variables" as *;
@use "../mixins/mixins" as *;

/* Auto Height */
.swiper-autoheight {
	&,
	.swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}
.swiper-backface-hidden .swiper-slide {
	transform: translateZ(0);
	backface-visibility: hidden;
}
