@use "../variables" as *;
@use "../mixins/mixins" as *;

/* CSS Mode */
.swiper-css-mode {
	> .swiper-wrapper {
		overflow: auto;
		scrollbar-width: none; /* For Firefox */
		-ms-overflow-style: none; /* For Internet Explorer and Edge */
		&::-webkit-scrollbar {
			display: none;
		}
	}
	> .swiper-wrapper > .swiper-slide {
		scroll-snap-align: start start;
	}
}
.swiper-horizontal.swiper-css-mode {
	> .swiper-wrapper {
		scroll-snap-type: x mandatory;
	}
}
.swiper-vertical.swiper-css-mode {
	> .swiper-wrapper {
		scroll-snap-type: y mandatory;
	}
}
.swiper-centered {
	> .swiper-wrapper::before {
		content: '';
		flex-shrink: 0;
		order: 9999;
	}
	&.swiper-horizontal {
		> .swiper-wrapper > .swiper-slide:first-child {
			margin-inline-start: var(--swiper-centered-offset-before);
		}
		> .swiper-wrapper::before {
			height: 100%;
			width: var(--swiper-centered-offset-after);
		}
	}
	&.swiper-vertical {
		> .swiper-wrapper > .swiper-slide:first-child {
			margin-block-start: var(--swiper-centered-offset-before);
		}
		> .swiper-wrapper::before {
			width: 100%;
			height: var(--swiper-centered-offset-after);
		}
	}

	> .swiper-wrapper > .swiper-slide {
		scroll-snap-align: center center;
	}
}
