.head {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .head {
    min-height: 0;
  }
}
.head .block-full-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 1023px) {
  .head .block-full-content {
    min-height: 25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.head.block-full--first {
  margin-top: em(-150);
}
@media screen and (max-width: 1023px) {
  .head.block-full--first {
    margin-top: em(-90);
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImhlYWQvc3R5bGUuc2NzcyIsImhlYWQvc3R5bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQU1BO0VBQ0UsaUJBQUE7RUFDQSw4QkFBQTtVQUFBLHNCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSxrQkFBQTtBQ0xGO0FETUU7RUFQRjtJQVFJLGFBQUE7RUNIRjtBQUNGO0FESUU7RUFDRSxtQkFBQTtNQUFBLFdBQUE7VUFBQSxPQUFBO0FDRko7QURHSTtFQUZGO0lBR0ksZ0JBQUE7SUFDQSxvQkFBQTtJQUFBLG9CQUFBO0lBQUEsYUFBQTtJQUNBLHlCQUFBO1FBQUEsc0JBQUE7WUFBQSxtQkFBQTtJQUNBLHdCQUFBO1FBQUEscUJBQUE7WUFBQSx1QkFBQTtFQ0FKO0FBQ0Y7QURFRTtFQUNFLG9CQUFBO0FDQUo7QURDSTtFQUZGO0lBR0ksbUJBQUE7RUNFSjtBQUNGIiwiZmlsZSI6ImhlYWQvc3R5bGUuY3NzIn0= */
