.head {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.head .block-full-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.head.block-full--first {
  margin-top: em(-150);
}
@media screen and (max-width: 1023px) {
  .head {
    min-height: 0;
  }
  .head .block-full-content {
    min-height: 25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .head.block-full--first {
    margin-top: em(-90);
  }
}