@use "variables" as *;
@use "mixins/mixins" as *;
@use "sass:color";

.btn {

  $block-name: &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  padding: $field-padding-vertical $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-800;
  background-color: $gray-900;
  background-image: none;
  cursor: pointer;
  transition: all $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: color.adjust($gray-900, $lightness: -10%);


    border-color: color.adjust($gray-800, $lightness: -12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-900;
    border-color: $gray-800;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }


  &--main {
    color: #fff;
    background-color: $color-main;
    border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: #fff;

      background-color: color.adjust($color-main, $lightness: -10%);
      border-color: color.adjust($color-main, $lightness: -12%);
    }

  }

  &--invert {
    color: $color-main;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &--outlined {
    color: $color-main;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $color-main;
      border-color: #fff;
    }
  }

  &--big {
    padding: to-rem(14) to-rem(36);
  }
}
