@use "variables" as *;
@use "mixins/mixins" as *;

.site-header {
  background-color: $white;

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: transform 0.3s;
  }

  &__grid {
    display: grid;
    height: to-rem($header_mobile_height);
    align-items: center;
    transition: height 0.3s, background-color 0.3s, box-shadow 0.3s;

    @include media-breakpoint-up($menu-desktop-width) {
      grid-template-columns: auto 1fr;
      grid-column-gap: 1rem;
      height: to-rem($header_top_height);
    }
  }
}

.site-title {
  position: relative;
  z-index: 1;
  margin: 0 1em;
  font-family: var(--highlight-font-family);
  font-stretch: condensed;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.site-header-pad {
  height: to-rem($header_mobile_height);

  @include media-breakpoint-up(md) {
    height: to-rem($header_top_height);
  }
}

.body--header-scrolled .site-header--sticky:not(.site-header--menu-open) {
  transform: translateY(-100%);
}

.body--header-smaller .site-header--sticky {
  box-shadow: rgba(black, 0.3) 0 1px 5px -2px;
}

.body--header-smaller .site-header--sticky:not(.site-header--menu-open) .site-header__grid {
  height: to-rem($header_top_height) -  2rem;
}


