@use "variables" as *;
@use "mixins/mixins" as *;

.social {

	$block-name: &; // #{$block-name}__

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;

	&__link-wrap {
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		background-color: $gray-200;
		border: 2px solid $white;
		border-radius: 50%;

		svg {
			display: block;
			width: 1rem;
			height: 1rem;
		}

		&:hover {
			border-color: $link-color--hover;

			svg {
				color: $link-color--hover;
			}
		}
	}

	&__text {
		@include hide-text;
	}
}
