@use "mixins/px-to-rem" as trem;
@use "mixins/px-to-em" as tem;
@use "sass:color";
@use "sass:map";

$black: hsl(0, 0%, 0%);
$gray-100: hsl(0, 0%, 10%);
$gray-200: hsl(0, 0%, 20%);
$gray-300: hsl(0, 0%, 30%);
$gray-400: hsl(0, 0%, 40%);
$gray-500: hsl(0, 0%, 50%);
$gray-600: hsl(0, 0%, 60%);
$gray-700: hsl(0, 0%, 70%);
$gray-800: hsl(0, 0%, 80%);
$gray-900: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);

$color-main: hsl(208, 98%, 43%);
$color-success: hsl(120, 39%, 54%);
$color-danger: hsl(2, 64%, 58%);
$color-warning: hsl(35, 84%, 62%);

$color-vk: #4a76a8;
$color-fb: #4267b2;
$color-tw: #40a2f5;
$color-gh: #24292e;

$text-color: $gray-100;
$text-color-muted: $gray-500;
$body-bg: $white;

$link-color: $color-main;
$link-color--hover: color.adjust($color-main, $lightness: -15%);

$border-color: $gray-800;

//$browser-context: 16;

//works with the font-fluid mixin
$font-size: trem.to-rem(20);
$font-size-h1: trem.to-rem(54);
$font-size-h2: trem.to-rem(40);
$font-size-h3: trem.to-rem(32);
$font-size-h4: trem.to-rem(24);
$font-size-h5: trem.to-rem(22);
$font-size-h6: trem.to-rem(20);

$font-size-mobile: trem.to-rem(16);
$font-size-h1-mobile: trem.to-rem(40);
$font-size-h2-mobile: trem.to-rem(32);
$font-size-h3-mobile: trem.to-rem(24);
$font-size-h4-mobile: trem.to-rem(20);
$font-size-h5-mobile: trem.to-rem(18);
$font-size-h6-mobile: trem.to-rem(16);

$font-scale-start: trem.to-rem(576);
$font-scale-end: trem.to-rem(1440);

$font-size-sm: 0.75em;

$line-height: 1.5;

$typo-margin-vertical: 1rem;

$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings: $font-family;

$grid-breakpoints: (
        xs: 0,
        sm: trem.to-rem(576),
        md: trem.to-rem(768),
        lg: trem.to-rem(992),
        xl: trem.to-rem(1200),
        xxl: trem.to-rem(1440),
		xxxl: trem.to-rem(1800)
);

$container-sm: 100%;
$container-md: 100%;
$container-lg: (map.get($grid-breakpoints, "lg") - 2rem);
$container-xl: (map.get($grid-breakpoints, "xl") - 4rem);
$container-xxl: (map.get($grid-breakpoints, "xxl") - trem.to-rem(140));
$container-xxxl: (map.get($grid-breakpoints, "xxxl") - trem.to-rem(360));


$grid-columns: 12;
$grid-gutter-width: 2rem;

$field-padding-vertical: .25rem;
$field-padding-horizontal: .75rem;

$border-radius: 3px;
$opacity: 0.7;
$transition-time: 0.3s;
$shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width: 'md';

$toggler-part-height: 3px;
$toggler-part-bg-color: $black;

$z-index-modal: 100;

$off-canvas-width: trem.to-rem(250);

$displays: none, inline, inline-block, block, flex, inline-flex;

$dropdown-symbol-width: .7em;

$themeColor: $color-main;

$header_top_height: 124;
$header_mobile_height: 110;
