.text__bg {
  padding-top: em(75);
  padding-bottom: em(75);
}
.text__bg--white {
  background-color: #FFFBF6;
}
.text__bg--whitesmoke {
  background-color: #FFF3E3;
}
.text__bg--red {
  background-color: #FF3F09;
}
.text__bg--yellow {
  background-color: #FFD000;
}
.text__bg--blue {
  background-color: #002E6D;
}
.text__bg--blueberry {
  background-color: #2cabb5;
}
.text__bg--strawberry {
  background-color: #FF3F09;
}
.text__bg--raspberry {
  background-color: #ff007b;
}
.text__bg--blackberry {
  background-color: #2d3197;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRleHQvc3R5bGUuc2NzcyIsInRleHQvc3R5bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQTRCRTtFQUNFLG1CQUFBO0VBQ0Esc0JBQUE7QUMzQko7QUQ4Qk07RUFDRSx5QkFwQkM7QUNSVDtBRDJCTTtFQUNFLHlCQXBCQztBQ0xUO0FEd0JNO0VBQ0UseUJBcEJDO0FDRlQ7QURxQk07RUFDRSx5QkFwQkM7QUNDVDtBRGtCTTtFQUNFLHlCQXBCQztBQ0lUO0FEZU07RUFDRSx5QkFwQkM7QUNPVDtBRFlNO0VBQ0UseUJBcEJDO0FDVVQ7QURTTTtFQUNFLHlCQXBCQztBQ2FUO0FETU07RUFDRSx5QkFwQkM7QUNnQlQiLCJmaWxlIjoidGV4dC9zdHlsZS5jc3MifQ== */
