.masonry {
  display: flex;
  flex-direction: row;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__segment {
    padding: 10px;
  }

  &__content {
    max-width: 100%;
    height: auto;
  }

}
