// В этом файле должны быть стили только для БЭМ-блока map, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    flex: 1 0 100%;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      flex: 1 0 33.3%;
      max-width: 33.3%;

    }
  }
  &_img {
    max-height: 280px;
  }
}
